* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #7AB6DC;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a img {
    float: right;
}

body {
    margin: 0;
    background-color: lightskyblue;
}

body div {
    padding: 1%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body div span {
    align-items: center;
    display: inline-block;
}

body div span * {
    width: 100%;
}

body div span {
    width: 33%;
    margin: 4%
}